
.about .content {
    display: grid;
    grid-template-areas:
    'about-title about-title about-title'
    'portrait about-text1 about-text1'
    'portrait about-text2 about-text2'
    'portrait about-text3 about-text3'
    'orb orb orb';
     background: radial-gradient(ellipse at bottom, #000000 0%, var(--dark-orange) 100%);

     color: var(--light-orange);
     text-shadow: 0 0 3px var(--light-orange);
     padding: 1.2rem;
}

.about .section-title {
    grid-area: about-title;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: var(--title);
}

.about em {
    font-style: normal;
    text-decoration: underline var(--prime-orange);
}

.about strong {
    color: var(--prime-orange);
    text-shadow: 0 0 3px var(--prime-orange);
}

.portrait {
    grid-area: portrait;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 32rem;
    height: 32rem;
    z-index: 100;
    margin-right: 6.4rem;
    filter: sepia(30%) blur(0.2rem);
    opacity: 0.2;
    flex-wrap: wrap;
    transition: all 0.2s ease-in ;
}

.portrait:hover{
    filter: sepia(30%) blur(0rem);
    opacity: 0.8;
    transform: scale(1.2, 1.2);
    
}

.portrait img {
    position: relative;
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
}

.about .inner-paragraph {
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 500;
}

.about .description {
    grid-area: about-text1;
    align-self: flex-end;
}

.about .history {
    grid-area: about-text2;
    justify-self: flex-end;
}

.about .hobby {
    grid-area: about-text3;
    align-self: flex-start;
}



