
.about .content {
    display: grid;
    grid-template: 1fr 5fr/ 1fr 1fr;

     background: radial-gradient(ellipse at bottom, #000000 0%, var(--dark-orange) 100%);

     color: var(--light-orange);
     text-shadow: 0 0 3px var(--light-orange);
     padding: 1.2rem;
     text-wrap: balance;
}

.about .section-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: var(--title);
    grid-column: span 2;
    grid-row: span 1;
}

.about em {
    font-style: normal;
    text-decoration: underline var(--prime-orange);
}

.about strong {
    color: var(--prime-orange);
    text-shadow: 0 0 3px var(--prime-orange);
}

.portrait {
    grid-row: 2/3;
    grid-column: 1/2;
    position: relative;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 32rem;
    height: 32rem;
    z-index: var(--midground);
    margin-right: 6.4rem;
    filter: sepia(30%) ;
    opacity: 0.8;
    flex-wrap: wrap;
    transition: all 0.2s ease-in ;
}

/* .portrait:hover{
    filter: sepia(30%) blur(0rem);
    opacity: 0.8;
    transform: scale(1.2, 1.2);
    
} */

.portrait img {
    position: relative;
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
}

.about-paragraph {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
}





