
.contacts .content {
    background: radial-gradient(ellipse at bottom, #000000 0%, var(--dark-yellow) 100%);
    color: var(--light-yellow);
    text-shadow: 0 0 3px var(--light-yellow);
    padding: 1.2rem;
    z-index: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contacts .section-title strong{
    color: var(--prime-yellow);
    text-shadow: 0 0 3px var(--prime-yellow);
}

.contact-title em {
    font-style: normal;
    text-decoration: underline var(--prime-yellow);
}

.social {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    z-index: var(--foreground);
}

.contact {
    position: relative;
    cursor: pointer;
    width: 16rem;
    padding: 1.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--foreground);
    transition: all 0.3s ease;
    border: solid 2px var(--prime-yellow);
}

.contact::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background : var(--light-yellow);
  left: 0;
  top: 0;
  
  opacity: 0.2;
  z-index: var(--midground);
  
}

.contact .cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    text-decoration: none;
    color: var(--prime-yellow);
    text-shadow: 0 0 3px var(--prime-yellow);
    display: inline-block;
    text-align: center;

    visibility: hidden;

    opacity: 0;
    transition: all .3s linear;
}

.contact .cta.active,
.email.active svg {
    filter: blur(13px);
}

.contact:hover .cta,
.contact:focus .cta {
    transform: translate(-50%, -50%) scale(1);   
    visibility: visible;
    opacity: 1;
}

.contact .saved {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%) scale(0);
    text-decoration: none;
    color: var(--prime-yellow);
    text-shadow: 0 0 3px var(--prime-yellow);
    text-align: center;

    visibility: hidden;

    opacity: 0;
    transition: all .2s linear;
}

.contact .saved.active {
    transform: translate(-50%, -50%) scale(1);   
    visibility: visible;
    opacity: 1;
    filter: grayscale(0) blur(0);
}

.contact svg {
    visibility: visible;
    height: 8rem;
    width: 8rem;
    transform: scale(1);
    opacity: 1;
    transition: all .3s ease;
}

.contact:hover svg,
.contact:focus svg {
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;
    visibility: hidden;
}

.labels {
    align-self: center;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly; 
    margin-bottom: 1.2rem;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

.labels span {
    display: inline-block;
    margin: 0 0.4rem;
    color: var(--prime-yellow);
    background-color: var(--dark-yellow);
    border: solid 2px var(--prime-yellow);
    padding: 1.2rem;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.labels span.animate {
  animation: labelPop 0.5s;
}

@keyframes labelPop {
  0%   { transform: scale(1); }
  50%  { transform: scale(0.7); }
  100% { transform: scale(1); }
}