/*
01 - TYPEGRAPHY SYSTEM

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:
Default:
Medium:
Semibold:
Bold:

- Line Heights:
Default:
Small:
Medium:
P Default:
Large:

- Letter Spacing:

02 - COLORS

- Primary: #004e98
- Accent: #ff6700
- Tints: #99B8D6, #ccdcea
- Shades: #003E7A,
- Greys: #c0c0c0

03 - IMAGES


04 - ICONS


05 - SHADOWS


06 - BORDER RADIUS


07 - WHITESPACES

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    /*10px / 16px = 0.625 => 62.5%*/
    /*Percentage of user's browser font size*/
    font-size: 62.5%;
    overflow-x: hidden;
    /* Doesnot work on Safari */
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #c0c0c0;
    position: relative;
}

header, section, footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    position: absolute;
    
    display: grid;
    grid-template-columns: 1fr 2fr ;
    width: 100%;
    background-color: #004da3;
    
}

.main-nav-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
}

.main-nav-list li {
    width: 100%;
     position: relative;
}

.main-nav-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    transform: (-20deg);
}

.main-nav-link:link,
.main-nav-link:visited,
.main-nav-link:hover,
.main-nav-link:active{
    font-weight: 500;
    font-size: 1.8rem;
    font-style: oblique;
    display: inline-block;
    padding: 1.2rem;
    background-color: #1a7deb;
    width: 100%;
    text-align: center;
    transition: ease-in 0.2s;
    color: #ffe680;
}

.main-nav-link:hover,
.main-nav-link:active
{
    background-color: #4d9af0;
    
}

.hidden {
    display: none;
}