.hero {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    text-shadow: 0 0 3px #f4e6ff;
    background: radial-gradient(ellipse at bottom, #000000 0%, #1d0033 100%);
}

.main-title, .secondary-title {
    font-family: 'Josefin Sans';
    flex: 0 4 25%;
   
}

.main-title {
    font-size: 5.2rem;
    font-weight: 600;
}

.main-title strong {
    color: #8f00ff;
    text-shadow: 0 0 3px #8f00ff;
}

.secondary-title{
    font-size: 4.4rem;
    font-weight: 500;
}

.secondary-title strong{
    text-decoration: underline #8f00ff;
}

.hero.sphere {
    background-color: #480080;
    flex: 0 1 auto;
    height: 44rem;
    width: 44rem;
    border-radius: 50%;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #8f00ff;
    transition: box-shadow 0.2s ease-in;
}

.hero.sphere:hover {
    box-shadow: 0 0 50px 5px #8f00ff;
}

.main-nav {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 20;
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none; 
}

.main-nav-link { 
    font-size: 3.6rem;
    flex: 0 0 44rem;
    color: #fff;
    opacity: 0;
  filter: blur(1rem);
  transition: opacity 0.4s, filter 0.4s;
  pointer-events: none;
  
}

.main-nav-link.active {
  opacity: 1;
  filter: blur(0);
  pointer-events: auto;
}
