
.projects .content {
    background: radial-gradient(ellipse at bottom, #000000 0%, var(--dark-green) 100%);
    color: var(--light-green);
    text-shadow: 0 0 3px var(--light-green);
    padding: 1.2rem;
    display: grid;
    grid-template: 0.8fr 6fr / repeat(4, 1fr);
    row-gap: 1.2rem;
    justify-content: center;
    z-index: var(--background);
    outline:  2px solid var(--prime-green);
}

.projects .section-title{
    grid-row: 1/2;
    grid-column: 2/4;
    justify-self: center;
    align-self: start;
}

.projects .section-title strong{
    color: var(--prime-green);
    text-shadow: 0 0 3px var(--prime-green);

}

.projects .section-title em {
    font-style: normal;
    text-decoration: underline var(--prime-green);;
}

.project-container {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/5;
    grid-template: 1fr /  repeat(3, 25%);
    column-gap: 1.2rem;

    height: 100%;
    justify-content: center;
    align-items: stretch;
    margin: 0.2rem 0 6.4rem 0;
}

.change-projects {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    color: var(--prime-green);
    border: none;
    transition: all 0.2s ease ;
     display: flex;
     justify-content: center;
     margin: 0.4rem;
     z-index: var(--foreground);
}

.change-projects:hover,
.change-projects:focus {
  filter: drop-shadow(0 0 2px var(--prime-green));
}

.change-projects:active {
    filter: drop-shadow(0 0 2px var(--light-green));
    transform: translateY(-50%) scale(0.8);
}

.change-projects.left {
    left: 0;
}

.change-projects.right {
    right: 0;
}

/*----------------------------------------------------------*/
/*--------------- PROJECT CARDS (CLOSED) -------------------*/

.project {
     transform: skewX(var(--inclinationX));
     z-index: var(--midground);
     position: relative;
}

.front-card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 0;

    background: var(--dark-green);
    border: solid 2px var(--prime-green);
    overflow: hidden;
    cursor: pointer;
    transition: scale 0.2s 0.4s linear,  transform 0.2s 0.4s ease-in;
    z-index: var(--foreground);
}

.project-card:hover .front-card,
.project-card:focus .front-card {
    box-shadow: 0 0 2px 2px var(--prime-green);
}

.project.left.active .front-card{
    transform: scale(1.1);
    z-index: var(--foreground);
     transition: scale 0.2s linear,  transform 0.2s ease-in;
     
}

.project.mid.active .front-card{
    transform: scale(1.1) translate(-90%);
    z-index: var(--foreground);
    transition: scale 0.2s linear,  transform 0.2s ease-in;
    
}

.project.right.active .front-card{
    transform: scale(1.1) translateX(-180%);
    z-index: var(--foreground);
    transition: scale 0.2s linear,  transform 0.2s ease-in;
    
}

.project.inactive {
    visibility: hidden;
    filter: blur(2rem);
}

.project-title {
    color: var(--prime-green);
    transform: skewX(var(--minusInclinationX));
}

.color-layer {
    z-index: var(--midground);
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    border: solid 2px var(--prime-green);
    opacity: 1;
}

.project img {
    z-index: var(--midground);
    position: relative;
    width: 300%;
    max-height: 40rem;
    
    opacity: 1;
}

#myPage{
    transform: skewX(var(--minusInclinationX)) translateX(-5%)
}

#forkify {
    transform: skewX(var(--minusInclinationX)) translateX(10%);
}

#omnifood {
    transform: skewX(var(--minusInclinationX)) translateX(20%);
}

@keyframes openCard {
    50% {
        scale: 1.05;
    }
    100% {
        translateX: -50%;
        scale: 1.09;
    }
}

/* --------------------------------------------- */
/* ---------- PROJECT CARDS (OPENED) ----------- */

.back-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 0;
    

    visibility: hidden;
    /* transform: translateX(-100%); */
    background-color: var(--dark-green);
    border: solid 2px var(--prime-green);
    padding: 3.2rem;
    opacity: 0;
    transition: all 0.4s ease, opacity 0.15s ease;          
}

.project.left .back-card{
    transform: translateX(0%);
}

.project.mid .back-card {
    transform: translateX(-50%);
}

.project.right .back-card {
    transform: translateX(-100%);
}

.project.active .back-card {
    transition: all 0.4s 0.4s ease, opacity 0.15s 0.4s ease;
    z-index: var(--midground);
}

.project.left.active .back-card {
    visibility: visible;
    transform: translateX(50%);
    opacity: 1;
     z-index: var(--midground);
}

.project.mid.active .back-card {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
     z-index: var(--midground);
}

.project.right.active .back-card {
    visibility: visible;
    transform: translateX(-50%);
    opacity: 1;
}

.project-text {
    text-align: center;
    transform: skewX(var(--minusInclinationX));
}

.close {
    width: 3.2rem;
    height: 3.2rem;
    color: var(--prime-green);
}

.close:hover,
.close:active,
.close:focus {
    color: var(--light-green);
}

.close-btn {
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.2s ease;
}

.close-btn:focus .close {
    color: var(--light-green);
    filter: drop-shadow(0 0 2px var(--light-green));
}

.close-btn:active {
    transform: scale(0.9);
}

.project-back-card {
    margin: 3.2rem;
    transform: skewX(var(--minusInclinationX));
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project-description em {
    font-style: normal;
    text-decoration: underline var(--prime-green);
}

.project-back-card-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* .project-link:link,
.project-link:visited {
    color: var(--prime-green);
    
}
.project-link:hover,
.project-link:active,
.project-link:focus {
    background-color: var(--light-green);
} */

.project-link {
   align-self: center;
   color: var(--prime-green);
   padding: 0.8rem;
   border: solid 2px var(--prime-green);
   display: flex;
   align-items: center;

  position:relative;
  overflow:hidden;
}

.project-link:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background : var(--light-green);
  left: 0;
  bottom: 0;
  transition: all .3s;
  opacity: 0.2;
}

.project-link:hover:before,
.project-link:focus::before {
  width: 100%;
}

.project-link svg {
    width: 2.4rem;
    filter: drop-shadow(0 0 1px var(--prime-green));
    transform: skewX(var(--minusInclinationX));
}

.project-link span {
    transform: skewX(var(--minusInclinationX));
}
