/* Below 1344PX (larger desktops) */
/********************************************/
@media(min-width:84em){
    html {
        font-size: 62.5%;
    }
    
/*HERO*/
.hero{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-items: center;
    /* padding: 2.4rem; */
}

.hero-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title, .secondary-title{
    margin-top: 2.4rem;
}

.sphere-cta-large {
    display: block;
    margin-top: 4.8rem;
}

.hero.sphere  {
    /* flex: 0 1 auto; */
    transform: scale(1.2);
    display: flex;
    justify-content: center;
}

.sphere-cta-small {
    display: none;
}


/*ABOUT*/
/*PROJECTS*/
/*SKILLS*/
/*CONTACTS*/
}

/* Below 1200PX (Landscape Tablets) */
/********************************************/
@media(max-width: 75em){
 
/*HERO*/
/*ABOUT*/
/*PROJECTS*/
/*SKILLS*/
/*CONTACTS*/
}

/* Below 944px (Tablets) */
/********************************************/
@media (max-width: 59em){
      html{
        font-size: 50%;
    }
/*HERO*/
/*ABOUT*/

.about .content {
   grid-template: 1fr 2fr 4fr / 1fr;
}

.about .section-title{
    grid-row: 1/2;
    grid-column: 1/2;
}

.portrait {
    margin-right: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
}

.about-paragraph{
    grid-row: 3/4;
    grid-column: 1/2;
    height: 100%;
    justify-self: center;
}

.inner-paragraph .text{
    text-align: left;
}

/*PROJECTS*/

/* .close {
    transform: skewY(var(--inclinationY));
} */
/*SKILLS*/
/*CONTACTS*/

}
/* Below 704px (Smaller Tablets) */
/********************************************/
@media(min-width: 34em) and (max-width: 44em){
  
      html {
        font-size: 44%;
    }
/*HERO*/
/*ABOUT*/
/*PROJECTS*/


.projects .content {
    grid-template-rows: 0.5fr 4fr;
    align-content: center;
}

.projects .section-title{
    align-self: center;
}

.project-container {
    grid-template: repeat(3, 25%) / 1fr;
    justify-self: center;
    align-content: center;
    width: 80%;
    row-gap: 1.2rem;
    margin: 1.2rem;
}

.project {
    transform: skewY(var(--minusInclinationY));
}

.front-card {
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr;
    justify-items: center;
    row-gap: 0.2rem;
   
}

.project-title {
    margin: 1.6rem;
    transform: skewY(var(--inclinationY));
}

.project-text {
    margin: 1.6rem;
    transform: skewY(var(--inclinationY));

}

.color-layer {
    height: 100%;
    overflow: hidden;
    grid-row: span 2;
    width: 100%;
}

.color-layer img {
   width: 1000%;
   height: 1000%;  
}

#myPage {
    transform: skewY(var(--inclinationY)) translate(10%, -12%);
}

 #forkify {
    transform: skewY(var(--inclinationY)) translate(5%, -10%) scale(1.1);
    width: 200%;
}

#omnifood {
    transform: skewY(var(--inclinationY)) translate(10%, -10%) scale(1.1);
    width: 200%;
} 

.project.left.active .front-card{
    transform: scale(1.1);
    z-index: var(--foreground);
     transition: scale 0.2s linear,  transform 0.2s ease-in;
     box-shadow: none;
}

.project.mid.active .front-card{
    transform: scale(1.1) translate(0, -90%);
    z-index: var(--foreground);
    transition: scale 0.2s linear,  transform 0.2s ease-in;
    box-shadow: none;
}

.project.right.active .front-card{
    transform: scale(1.1) translate(0, -180%);
    z-index: var(--foreground);
    transition: scale 0.2s linear,  transform 0.2s ease-in;
    box-shadow: none;
}

.back-card {
    height:200%;
    width: 100%;
    flex-direction: row;
}

.project.left .back-card{
    transform: translate(0, 0%);
}

.project.mid .back-card {
    transform: translate(0,-50%);
}

.project.right .back-card {
    transform: translate(0, -100%);
}

.project.active .back-card {
    transition: all 0.4s 0.4s ease, opacity 0.15s 0.4s ease;
    z-index: var(--midground);
}

.project.left.active .back-card {
    transform: translate(0, 52%);
}

.project.mid.active .back-card {
    transform: translate(0, 2%);
}

.project.right.active .back-card {
    transform: translate(0, -48%);
}

.project-back-card {
    transform: skewY(var(--inclinationY));
}

.project-back-card-links {
    flex-direction: column;
    height: 100%;
    /* transform: skewY(var(--inclinationY)); */
}

.project-link{
    padding: 1.2rem;
}

.project-link span,
.project-link svg {
    transform: skewY(var(--inclinationY));
}

/*SKILLS*/
/*CONTACTS*/
}

/* Below 544px (Phones) */
/********************************************/
@media(max-width: 34em){
     
     html {
        font-size: 44%;
    }
/*HERO*/
.main-title {
    font-size: var(--title);
}

.secondary-title {
    font-size: var(--subtitle);
}

.hero.sphere{
    height: 32rem;
    width: 32rem;
}


/*ABOUT*/

.portrait img{
    height: 24rem;
    width: 24rem;
}

.inner-paragraph .text {
    text-align: center;
}

/*PROJECTS*/
.project-container{
    grid-row: 2/4;
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    position: relative;
}

.change-projects{
    visibility: visible;
    height: 4rem;
    width: 4rem;
}

.project {
    position: absolute;
    background-color: transparent;
    perspective: 1000px;
    height: 90%;
    width: 70%;
    pointer-events: none;
    transform: none;
}

.project-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front-card{
    visibility: hidden ;
    opacity: 0;
    filter: blur(1rem);
    transition: opacity 0.4s, filter 0.4s;
    pointer-events: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-title {
    transform: none;
}

.front-card img {
    transform: translateY(10%);
}

.project.visible .front-card {
  visibility: visible;
  opacity: 1;
  filter: blur(0);
  pointer-events: auto;
}

.project:hover .project-card, 
.project:focus .project-card {
    transform: rotateY(180deg);
}

.front-card, .back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.project-img:nth-child(0){
    transform: translateX(-5%)
}

.project-img:nth-child(1){
    transform: translateX(10%);
}

.project-img:nth-child(2){
    transform: translateX(20%);
}

.project-text {
    transform: none;
}

.back-card {
    background-color: var(--dark-green);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(180deg) !important;
    justify-content: space-between;
    padding: 2.4rem;
}

.project.visible:hover .back-card,
.project.visible:focus .back-card {
    opacity: 1;
    visibility: visible;
}

.project-back-card{
    width: 100%;
    transform: none;
}

.project-description {
    height: 100%;
    text-wrap: balance;
    text-align: left;
    font-size: var(--span);
}

.project-back-card-links {
    flex-direction: column;
    height: 100%;
}

.close {
    display: none;
}

/*SKILLS*/

.skill-list {
    grid-column: 1/7;
    grid-row: 2/7;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    max-width: 100%;
    gap: 0.4rem;
}

.skill{
    width: 8rem;
    height: 8rem;
}

.skill:hover,
.skill:focus {
    height: 12rem;
    width: 12rem;
}

.zero {
    grid-row: 1 !important;
    grid-column: 2!important;
}

.first {
    grid-row: 2!important;
}

.second {
    grid-row: 3!important;
}

.third {
    grid-row: 4!important;
}

.fourth {
    grid-row: 5!important;
}

.curriculum {
    grid-row: 7/8;
}

/*CONTACTS*/

.section .contacts {
    word-wrap: break-word;
}

.contact {
    padding: 0.8rem;
}

.contact-title {
    width: 80%;
}

.contact svg {
    width: 4rem;
    height: 4rem;
}

.contact .cta {
    display: inline-block;
   
    text-wrap: balance;
}

.contact:hover .cta,
.contact:focus .cta {
     transform: translate(-50%, -50%) scale(0.8);  
}

.orb {
    width: 3.2rem;
    height: 3.2rem;
}

}



